header
  .wrap-nav
    nav.main.pdng
      .coord-container
        .tel
          i
          a(href="tel:+74959224044") +7 (495) 9224044
          a(href="tel:+79859224044") +7 (985) 9224044
        .quast(data-src="#call-back-form" data-fancybox data-call-back="master")
          Оставить заявку
        .desc
          span mosvodootvod@yandex.ru
        .smallWatch
          a.watch(href="#" title="Для слабовидящих") Для слабовидящих
          a.default(href="#" title="По умолчанию") По умолчанию
      .logo-container
        a(href="/")
          img(src="/src/img/logo.png")
          span МосВодоотвод
      .menu-container
        ul
          li
            a(href="#") О компании
          li
            a(href="#") Услуги
          //li
            a(href="#") Статьи
          li
            a(href="#") Контакты
        .menu-btn
  .slide-back(style="height: calc(100% - (76px + 80px));")
    ul
      li
        .slide-image(style="background: url(/src/img/slider/zabitaya-rakovina-prevratit-kuhnyu-v-okean1.jpg) center bottom no-repeat; background-size: cover; background-position: -1.1rem 25%;")
    .overlay-white
    .where-works-ltr
      span.home
      span.kv
      span.cafe
      span.restoran
    .where-works-rtl
      span.office
      span.factory
      span.pump
      span.wash
    .info-container
      h2.main-title Аварийная служба канализации
      .asc-text
        h3 Работаем круглосуточно
    .wrap-slog
      p.slog Чистка канализации&nbsp;в: <br>частных домах, квартирах, кафе и&nbsp;ресторанах, автомойках, офисных зданиях, заводах, промышленных предприятиях и&nbsp;т.д.
    .btn-call-back(data-src="#call-back-form" data-fancybox data-call-back="master") Оставить заявку
    .tel-box
      span
        small +7 (495)
        span 922-40-44
      span
        small +7 (985)
        span 922-40-44
      span.rich Наши менеджеры всегда готовы ответить вам в любое время
  a.mouse__circle
    span.mouse
    span.mouse__arr