doctype html
html(lang="ru")
  include ../../head.jade
  body
    .preload-overlay
    include ../../header.jade
    
    section.Page.pdng.spr
      .wrap-Page
        h2 Гидродинамическая промывка труб
        p
          img(src="/src/img/events/xRIpTLku-0g.jpg" align="left")
          Современным решением проблемы в случае с засором становится прочистка канализации гидродинамическим способом. Он заключается в том, что все инородные предметы и загрязнения удаляются с помощью воды, поданной под большим давлением. Напор фактически сносит все на своем пути. Промывка в последнее время стала пользоваться огромной популярностью. Это оправдано тем, что гидродинамическая чистка не повреждает трубы. Ее цена может быть немного выше, чем у ручного способа. Обусловлено это использованием нового современного оборудования. Однако стоимость оправдывается бережным отношением к самим коммуникациям, а также результативностью и гарантией качества.
        h2 Профилактика
        p
          img(src="/src/img/events/NuProtWbC98.jpg" align="left")
          Очистка канализационных труб должна производиться не только при образовании засора. Обычно вода становится в раковине или ванной далеко не сразу. Изначально начинает медленно сливаться жидкость, а затем и вовсе перестает проходить. К сожалению от засора никто не застрахован. Он образуется из-за волос, жира, а также мелких частиц органики и разнообразного мусора, которые попадают в слив. Гидродинамический способ может использоваться для профилактики. Хотя бы раз в год необходимо заказывать подобную услугу, тогда о засорах можно будет забыть навсегда. В частных домах бывает просто не хватает давления воды, аналогичная проблема возникает в квартирах на верхних этажах. Из-за этого может застаиваться жидкость и изначально появляется плохой запах.
        h2 Решение проблемы
        p
          img(src="/src/img/events/etrsBuPEA0A.jpg" align="left")
          Не стоит недооценивать силу воды. Под большим давлением она может справиться с любой ситуацией. Гидродинамическая промывка труб актуальна даже тогда, когда причиной засора стал инородный предмет. При использовании данного способа трубы на страдают. Если слишком часто производить механическую очистку, монтаж и демонтаж канализации, то материал может повреждаться, изнашиваться значительно быстрее. Гидродинамический вариант щадящее подходит к любым трубам. Вся процедура занимает минимальное количество времени. Современная техника позволяет решить проблему быстро. Мы даем гарантию на проводимые работы, все заказчики уверены, что ближайшее время засор не образуется снова. Регулярное обслуживание труб подобным образом представляет собой профилактику от аварий в этой инженерной сфере. Смело можно использовать канализацию и не опасаться засоров.
        a.srv(data-src="#call-back-form" href="javascript:;" data-fancybox data-call-back="service") Заказать услугу
    footer
      .wrap-footer
        Редизайн 2017г <br/>  Связаться с нами можно по телефонам: +7 (495) 9224044,  +7 (985) 9224044<br/> Сайт в разработке
        span Сайт разработан Madest'ом
    #call-back-form
      .wrap-call-back
        p Оставьте свои данные
        input(type="hidden" name="call-back")
        input(type="text" name="username" id="username" placeholder="ФИО")
        input(type="text" name="telephone" id="telephone" placeholder="Номер телефона")
        textarea(name="comment" id="comment" placeholder="Опишите проблему")
        input(type="submit" value="Отправить")
    .back_to_top(title="Наверх")
      div
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="/dist/build.min.js")